@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
   }
   
footer {
    font-family: Arial, sans-serif;
	text-align: center;
	background-color: #595959;
	font-size: 0.9em;
	color: #CCCCCC;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.jz-navigation {
	background-color: #FBD3C9;
    padding: 20px 10px;
}

.jz-navigation ul li {
	margin: 10px 0;
}

.jz-navigation ul li a:link,
.jz-navigation ul li a:visited {
	color: black;
	text-decoration: none;
}
	
.jz-navigation ul li a:hover,
.jz-navigation ul li a:active {
	color: blue;
	text-decoration: underline;
}

.jz-container {
	display: flex;
	flex-direction: column;
}

.jz-top {
	padding: 10px;
	background-color: #E57A64;
}

.jz-article {
    padding: 20px;
	background-color: #F5F5F5;
	min-height: 90vh;
}

